Google_Username=Username you use to login to your Google account
Google_Password=Password you use to login to your Google account
Name_Of_Chat=Name of the chat you want to send the message to or you could have this blank to create a new chat